name: Java CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Henter koden fra dit GitHub-repo
      - uses: actions/checkout@v4

      # Sætter Java op på runneren
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      # Kører tests
      - name: Run tests
        run: mvn test
